/* Background */
body{
  background-color: #add8e6
 
}

/* making horizontal line black*/
hr{
  background-color: #000000;
  height: 2px;
  border: none;
}

/* Margin (currently broken) */
p {
  margin-top:20px !important;
  margin-bottom:20px !important;
  margin-right:20px !important;
  margin-left:40px !important;
}

/*Making heading better*/
h1{
  color:##000036;
  text-align:center;
  text-shadow:2px 2px 5px rgba(0, 0, 0, 0.3);
}
