/* Background */
body{
  background-color: #add8e6
 
}

/* making horizontal line black*/
hr{
  background-color: black
}

/* Margin (currently broken) */
p {
  margin-top:20px;
  margin-bottom:20px;
  margin-right:20px;
  margin-left:20px;
}
